.foto_perfil{
    width: 90px;
    height: 90px;
    margin: 50px;
    
}

.caja {
    max-width: 500px;
    margin: 7vh;
}

.foto_contenedor {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}

.boton_mi_cuenta{
    margin: 10px 10px 10px 5px;
}