body, html{
    overflow: hidden;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .login,
.main-container > .hero-body{
    height: auto;
    width: 100%;
    max-width: 550px;
    min-width: 50px;
    margin-top: 160px;
    margin-bottom: 300px;
}